configfiles.mulini.org/*
configfiles/dovecot/.orig/*
configfiles*/opendkim/*
configfiles*/postfix/*
configfiles*/checkclam.sh
configfiles*/krb5.conf
configfiles*/mulini.*
.terraform
*.tfstate*
personal.auto.tfvars
terraform/test/*
dkim_notes.txt
s3synccmd.sh
temp
lambda/gd_alerts/processGDAlert.zip
.vscode/settings.json
lambda/gd_alerts/ex2
lambda/gd_alerts/example
lambda/gd_alerts/example2
lambda/gd_alerts/example_formatted
packer/runpacker.cli